<div class="row mt-4" *ngIf="data">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="shadow-none card">
      <div class="card-body">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div>
            <advanced-form-edit #form [data]="data" [formName]="src" (formSubmitted)="onCompletedSubmission($event)"></advanced-form-edit>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
