<div class="row">
  <div class="col-12">
    <app-advanced-table-search #advancedSearch [collapsed]="true" [showMore]="false" [table]="table">
    </app-advanced-table-search>
    <ng-container *ngIf="limitedAccessGroup">
      <div class="alert alert-primary mt-2" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="text-dark" [translate]="'Admin.Groups.PrivilegesHelp'"></div>
      </div>
    </ng-container>
  </div>
</div>
<div class ="row">
  <div class="col-auto mt-3">
    <span class="text-secondary font-lg"> {{ 'Admin.Groups.PrivilegesListDescription' | translate }} <a class="text-indigo" href="javascript:void(0)" (click)="showDefaultPrivileges()">{{ 'Admin.Groups.DefaultGroupPrivilegesLink' | translate }}</a>.</span>
    <div class="mt-3">
      <app-switch-lists [radioOptions]="radioOptions" (listSelection)="onListSelection($event)"></app-switch-lists>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-auto" *ngIf="recordsTotal > 0">
    <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Groups.Privileges'"></span>
    </div>
    <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Admin.Groups.Privilege'"></span>
    </div>
  </div>
  <div class="pull-right ml-auto mr-3">
    <div class="btn-group" *ngIf="table && table.selectable">
      <button class="btn btn-outline-indigo btn-lg" type="button" (click)="addPrivileges()">
        <span *ngIf="targetModel === 'Users/Permissions' else copyPrivileges;" [translate]="'Admin.Permissions.AddPrivilege'"></span>
        <ng-template #copyPrivileges>
          <span [translate]="'Admin.CopySelfPrivilegesAction.Title'"></span>
        </ng-template>
      </button>
      <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <button [disabled]="!(table && table.selected && table.selected.length)"
                class="dropdown-item" (click)="removePrivileges()" [translate]="'Admin.RemovePrivileges.Title'">
        </button>
        <button *ngIf="targetModel !== 'Users/Permissions'" [disabled]="!(table && table.selected && table.selected.length)"
          class="dropdown-item" (click)="editPrivilegeMask()" [translate]="'Admin.EditPrivilegeMask.Title'">
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="table.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
        <button class="dropdown-item" (click)="table.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <app-advanced-table #table [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
  </div>
  <router-modal></router-modal>
</div>

