<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Admin.Groups.TitlePlural'"></span></a>
    </li>
  </ul>

  <div class="row pt-2 pb-2">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2" *ngIf="group">
        {{group.name}}
      </h1>
    </div>
  </div>
</div>

<div class="col-12 tab-navbar tab-container" *ngIf="group">
  <ul class="nav nav-tabs d-flex mb-3">
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Admin.Groups.Edit'" [routerLink]="['edit']"
         [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Admin.Users.TitlePlural'" [routerLink]="['users']"
         [routerLinkActive]="'active'"></a>
    </li>
    <li class="nav-item" *if-entity="'Privileges'">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="'Admin.Groups.Privileges'" [routerLink]="['privileges']"
         [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
